@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The application shows how to connect with FourSquare in a programatic way, from a console application / desktop / other</p>
