@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FourSquare SOA</h1>
    <p class="lead">A SOA application for FourSquare</p>
    <p><a href="http://msprogrammer.serviciipeweb.ro/category/foursquare/" target="_blank" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Login - just for browser application</h2>
        <p>
            You can connect the old way here  -as browser application
        </p>
    
        <p><a class="btn btn-default" href="https://foursquare.com/oauth2/authenticate?client_id=@ViewBag.ClientId&response_type=code&redirect_uri=http://fsq.apphb.com/home/redirect4sq/oldway">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Login - same code as the Console application</h2>
        <p>Login to foursquare to see the previous day checkins</p>
        <p><a class="btn btn-default" href="javascript:ShowFourSquare()">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Console login</h2>
        <p>You can download a console application - please unblock and change clientId and client secret</p>
        <p><a class="btn btn-default" href="~/FourSquare.zip">Learn more &raquo;</a></p>
    </div>
</div>
@section Scripts{
    <script>
        var wnd;
        function ShowFourSquare() {
            
            var page4Sq = "@Html.Raw(ViewBag.Url4Sq)";
            var pageSOA = '@Html.Raw(FourSquareData.conect4Sq.urlSOA)';
            var url=pageSOA +  'api/Values/ClientToken/' + '@ViewBag.thisRequest';
            wnd = window.open(page4Sq);
            var interval = window.setTimeout(function () {
                        window.alert("Now you can read with jquery, but I will show just C# code");
                        window.location = '@Url.Content("~/Home/ShowCheckins")';
                    
                }
            ,5000);

        }
    </script>
}